<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans"
       xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
       xsi:schemaLocation="http://www.springframework.org/schema/beans http://www.springframework.org/schema/beans/spring-beans.xsd">


    <!-- 依赖注入：给service注入dao
     <bean id="studentService" class="com.ssm.service.impl.StudentServiceImpl">
          <property name="studentMapper" ref="studentMapper"></property>
     </bean>
-->
   <!-- 给controller注入service-->
    <!--
    <bean id="studentController" class="com.ssm.controller.StudentController">
        <property name="studentService" ref="studentService"></property>
    </bean>
--> <!--
    <bean id="studentController" class="com.ssm.controller.StudentController">
    </bean>
    <bean id="studentService" class="com.ssm.service.impl.StudentServiceImpl">
    </bean>

    <bean id="handlerException" class="com.ssm.exceptionHandler.HandlerException">
    </bean>
    -->

    <!-- 加载db.properties文件 -->
    <bean  id="config" class="org.springframework.beans.factory.config.PreferencesPlaceholderConfigurer">
        <property name="locations">
            <value>classpath:jdbc.properties</value>
        </property>

    </bean>
    <!-- 配置配置数据库信息（替代mybatis的配置文件conf.xml） -->
    <bean id="dataSource" class="com.mchange.v2.c3p0.ComboPooledDataSource">
        <property name="driverClass" value="${driverClass}"></property>
        <property name="jdbcUrl" value="${jdbcUrl}"></property>
        <property name="user" value="${user}"></property>
        <property name="password" value="${password}"></property>
    </bean>



    <!-- conf.xml :  数据源,  mapper.xml -->
    <!-- 配置MyBatis需要的核心类：SqlSessionFactory -->
    <!-- 在SpringIoc容器中 创建MyBatis的核心类 SqlSesionFactory -->
    <bean id="sqlSessionFactory" class="org.mybatis.spring.SqlSessionFactoryBean">
        <property name="dataSource" ref="dataSource"></property>

        <!-- 加载mapper.xml路径 -->
        <property name="mapperLocations" value="classpath:sqlmap/StudentMapper.xml"></property>
    </bean>


    <!-- 将MyBatis的SqlSessionFactory 交给Spring -->
    <bean class="org.mybatis.spring.mapper.MapperScannerConfigurer">
        <property name="sqlSessionFactoryBeanName" value="sqlSessionFactory"></property>
        <property name="basePackage" value="com.ssm.dao"></property>
        <!--上面basePackage所在的property的作用：
        将com.ssm.dao包中，所有的接口   产生与之对应的 动态代理对象
        （对象名 就是 首字母小写的接口名） ：studentMapper.querystudentBYNO();
        -->
    </bean>
    <!-- MyBatis：
        StudentMapper studentMapper	= session.getMapper(StudentMapper.class);
        studentMapper.queryStudentByStuno(31) ;
      -->
</beans>